<h2>ブログ一覧</h2>
  <% @homes.each do |home| %>
  <div>
    <p><%= home.caption %></p>
    <%= image_tag home.image if home.image.attached? %>
  </div>
  <td><%= link_to '編集', edit_home_path(home) %></td>
  <td><%= link_to '削除', home_path(home), method: :delete %></td>
  <% end %>

<%= link_to "新規投稿", new_home_path %>
<%= link_to "ログアウト", logout_path, method: :delete %>
