<h2>ブログ一覧</h2>
<table>
    <thead>
      <tr>
        <th>タイトル</th>
      </tr>
    </thead>
    <tbody>
      <% @homes.each do |home| %>
        <tr>
          <td><%= home.title %></td>
          <td><%= link_to "編集", edit_home_path(home) %></td>
          <td><%= link_to "削除", home_path(home), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<%= link_to "新規投稿", new_photo_path %>

<% current_user.photos.each do |photo| %>
  <div>
    <p><%= photo.caption %></p>
    <%= image_tag photo.image %>
  </div>
<% end %>

<%= link_to "ログアウト", logout_path, method: :delete %>